@import "./scss/extra-remove";
@import "./scss/variable";

.member-main {
  margin-top: 1%;
  padding: 3% 10% 2%;
  background: rgba(172, 209, 227, 0.33);
}
.member-card {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-items: center;
  grid-column-gap: 3%;
  grid-row-gap: 2rem;
}

.member-card-main {
  width: 100%;
  height: auto;
  border: 1px solid #8a8a8a;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  &:hover {
    .grand-with-links {
      display: flex;
      opacity: 1;
      transform: translateY(-15px);

      a {
        transform: rotate(360deg);
      }
    }
  }
}

@import "./scss/child-1";
@import "./scss/child-2";
@import "./scss/child-3";
@import "./scss/media";
