.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #742ee9;
    padding: 0 10px;
  }
  .dash {
    width: 42px;
    height: 0px;
    border: 2.1px solid #742ee9;
  }
}
