.main-div{
  margin: auto;
  padding: auto;
  width:1500px;
  height: 450px;
  border: 1px black solid;
  border-radius: 5px;
}
.pic-div{
  width: 470px;
  height: 400px;
  margin-top: 33px;
  margin-left: 15px;
}
.text-div{
  width: 900px;
  height: 280px;
  float: right;
  position: relative;
  top: -400px;
  left: -25px;
}
.doc-name{
  font-size: 50px;
  text-align: center;
  position: relative;
  top: -50px;
}
.education{
  font-size: 30px;
  text-align: center;
  position: relative;
  top: -85px;
}
.content{
  font-size: 20px;
  text-align: justify;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  top: -100px;
}
.doc-img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}