*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: grid;
  font-size: 14px;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10%;
  color: #fff;
  background-color: #596876;
}

.footer > * {
  flex: 1 100%;
}

.l-footer img {
  width: 128px;
  height: 128px;
}

.l-footer .l-footer-a {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #ffffff;
}

.l-footer .l-footer-b {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #ffffff;
}

.h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  color: #ffffff;
  padding-top: 13px;
  font-size: 20px;
  background-color: #1c1a2a;

  margin-top: 0px;
}

@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .features {
    flex-grow: 1;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}
